/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body{
     
    
}

 *{
    box-sizing: border-box;
}
header ,nav,#banner1,#banner2,#section1,.section2,.sectionsub,#section3,h3,p,section,.imgscontainer,.imgsection,.containerimg,#sectioncontainer,#subsection,.title,.sectionone,.sectiontwo,.sectionthree,.icon,#icon,.icon2,#icon2,#footer,#spot,#spot1,#spot2{
    display:flex;
    padding:5px 20px; 
    margin:5px;
}

header{
    width:100%;
    height:100%;
    flex-direction:column;
}

nav{
    width:100%;
    height:150px;
    justify-content: space-between;
    align-items: center;
}

.top-right{
    width:30%;
    height:100px;  
    display:flex;
    justify-content:center;
    align-items:center;
    justify-content:space-between;
    padding:0px 5px;
}

li{
    display:inline-block;
    text-decoration:none;
    
}
a{
    text-decoration:none;
}

img#spotifyimg{
   
    width:20%;
    height:100px;
} 

#banner {
    width:100%;
    height:50vh;
    


}
#spotifybanner{
   
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    background-image:url("../images/landing.jpg");
    background-size:contain;
    flex-direction:column;
    justify-content: center;
} 

#banner1,#banner2,.section2,.sectionsub,#section3,h3,p,a{
    font-family: 'Gotu', sans-serif;

}
#banner1,#banner2,#section3,h3,p{
    color:#FFF;
}
.section2{
    color:#00B172;
}

#banner{
    font-size:30px;
}
#banner2{
    text-align:center;
    font-size:17px;
}
#section1,h3{
    font-size:27px;
  
}
.title{
    width:18%;
    height:91px;
    justify-content: center;
    border-bottom:5px solid #00B172 ;
}
.section2{
    font-size:20px;
}
.sectionsub{
    font-size:15px;
    color:grey;
}
p{
    font-size:15px;
}

section{
    width:100%;
    margin:0px;  
}

#sectioncontainer{
    width:100%;
    flex-direction:column;
    align-items:center;  
}

#subsection{
    width:70%;
    justify-content:space-around;
}

.imgscontainer{
    width:400px;
    flex-direction:column;
    align-items: center;
    
}

.imgsection{
    width:150px;
    height:150px;
    justify-content: center;
    align-items:center;
    
}
.containerimg{
    width:120px;
    height:100px;
}

.sectionone{
    width:70%;
    background-color:#00B172;     
}

#section3{
    border-bottom: 3px solid white;
    width:40%;
    margin:0px 20px;
}
#spot {
    
    width:100%;
  
}
#spot1{
    
    flex-direction:column;
    width:40%;

}

#spot2{
    
    width:50%;
    align-items:center;
}
h3,p{
    width:100%;
    margin:0px 15px;
}


.sectionone{
    flex-direction:column;
    
}
.sectiontwo{
    justify-content: center;
    align-items:center;
}
.sectionthree{
    width:30%;
}
.icon{
    
    width:40%;
    height:50%;
    justify-content: center;
    align-items:center;
}

#icon{
    
    width:170px;
    height:150px;
    justify-content: center;

  
}

.icon2{
    
    justify-content:center;
    align-items:center;
}

#icon2{
    width: 80%;
    height:80%;
}
#footer{
    background-color:#00B172;
}








